* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#game {
    position: absolute;
    padding:10%;
    width: 100%;
    height: 100%;            
    background: linear-gradient(#6589ee, #060CE9, #000120);
    color: white;
    text-align: center;
    font-family: Helvetica;
}
h1 {
    font-size: 7vw;
}
#messages {
    font-size: 2vw;
}
#questionBlock {
    display: none;
    width: 50%;
    margin: auto;
}

.category {
    font-size: 3vw;
    font-weight: bold;
}

.value {
    font-size: 2vw;
}

.question {
    font-size: 3vw;
    font-weight: bold;
    color: goldenrod;
}

.airdate {
    font-size: 2vw;
    color: rgb(252, 221, 144);
}

#timer {
    font-size: 4vw;
    margin-top: 100px;
    display: none;
}
#answer {
    font-size: 3vw;
    margin-top: 100px;
    display: none;
}
#gameover {
    display: none;
}
#leaderboard {
    padding: 10px;
    font-size: 2em;
    border-radius: 15px;
    background-color:rgba(0,0,0,.25);
    position: fixed;
    top: 15px;
    left: 15px;
    display: block;
}
#winner {
    font-size: 4vw;
    padding: 10px;
    border-radius: 15px;
    background-color:rgba(221, 155, 0, 0.356);
    
}
